<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="titulo">Triada estoica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="contenedor-acordeones">
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header" color="light">
          <ion-label>Eudaimonia </ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Eudaimonia</ion-card-title>
              <ion-card-subtitle>Definición:</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              Se refiere a una forma profunda y duradera de felicidad y bienestar que proviene de llevar una vida 
              virtuosa y cumplir con el propósito y el potencial individual. En otras palabras, la eudaimonia implica 
              una sensación de plenitud y realización que surge de vivir de acuerdo con nuestros valores, cultivar 
              virtudes y contribuir positivamente a la sociedad. No se trata solo de placeres temporales, sino de una 
              sensación más profunda y trascendental de satisfacción y florecimiento personal.
            </ion-card-content>
          </ion-card>
        </div>
      </ion-accordion>
      <ion-accordion value="second">
        <ion-item slot="header" color="light">
          <ion-label>Areté</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Areté</ion-card-title>
              <ion-card-subtitle>Definición:</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <p>En el contexto estoico, "areté" se refiere a la excelencia moral y personal que se logra a través del cultivo 
                de las virtudes, como la sabiduría, la valentía, la justicia y la moderación.</p>
              <br>
              <p>Para los estoicos, el objetivo fundamental de la vida era vivir de acuerdo con la razón y la virtud, 
                y cultivar una actitud serena y equilibrada ante las circunstancias externas. La areté estoica implica 
                vivir de manera ética y en armonía con la naturaleza, manteniendo la calma frente a las adversidades y 
                buscando constantemente mejorar como individuos.</p>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-accordion>
      <ion-accordion value="third">
        <ion-item slot="header" color="light">
          <ion-label>Ataraxia</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Ataraxia</ion-card-title>
              <ion-card-subtitle>Definición:</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <p>
                La "ataraxia" en la filosofía estoica se refiere a un estado de tranquilidad y paz interior que se logra al 
                alcanzar la sabiduría y la virtud, y al vivir en armonía con la naturaleza y las circunstancias. Es un estado 
                de imperturbabilidad mental y emocional ante las vicisitudes de la vida, donde uno no se deja afectar por las 
                pasiones negativas, las preocupaciones o los deseos excesivos.
              </p>
              <br>
              <p>
                Los estoicos creían que la ataraxia se alcanza al aceptar las cosas que no podemos cambiar y enfocarse en lo que 
                sí está bajo nuestro control: nuestras actitudes, creencias y acciones. Buscar la ataraxia implica cultivar una 
                mente serena, libre de ansiedad y en paz con el mundo tal como es, sin aferrarse a las cosas materiales o a las 
                emociones perturbadoras.
              </p>
              <br>
              <p>
                En resumen, en la filosofía estoica, la ataraxia representa la calma y la serenidad que provienen de vivir en 
                consonancia con la naturaleza, cultivando la virtud y manteniendo una actitud equilibrada y tranquila frente a 
                las circunstancias de la vida.
              </p>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </div>
  <div class="contanier-buttons">
    <div class="wrapper">
      <div (click)="volver()" class="ion-activatable ripple-parent">
        Volver
        <ion-ripple-effect class="custom-ripple"></ion-ripple-effect>
      </div>
    </div>
  </div>
</ion-content>
