<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="titulo">Reflexion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngIf="mostrarMsjCon" class="color-amarillo">
    <ion-card-header>
      <ion-card-title class="color-amarillo">¡Error de conexión!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Para consumir este material es necesario estar conectado a internet. Revisa tu conexión y vuelve a intentarlo.
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="mostrarReproductor">
    <ion-card-header>
      <ion-card-title class="color-amarillo" style="font-size: 20px;">{{ titulo }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <iframe *ngIf="mostrarReglas" width="100%" height="315" src="https://www.youtube.com/embed/1FVQ2xKCuVw?si=qiNkgQjk-r_PVn-B" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>    </ion-card-content>
      <iframe *ngIf="mostrarMandamientos" width="100%" height="315" src="https://www.youtube.com/embed/EUO0tXbR4Po?si=cMdmsZiB1kAzsdXv" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <ion-button fill="clear" (click)="volverBotones()">
      <ion-icon name="arrow-back-circle-outline"></ion-icon>
      Volver
    </ion-button>
  </ion-card>
  <div class="container-buttons" *ngIf="mostrarBotones">
    <ion-button expand="block" (click)="mostrarMaterial(1)">REGLAS ESTOICAS</ion-button>
    <ion-button expand="block" (click)="mostrarMaterial(2)">MANDAMIENTOS ESTOICOS</ion-button>
  </div>
</ion-content>
