<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="titulo">Mi diario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-input id="inputTitulo" [(ngModel)]="titulo" label="Título" label-placement="floating" fill="outline" placeholder="Ingrese el título"></ion-input><br>
      <ion-textarea id="inputContenido" [(ngModel)]="contenido" #hvUserPost type="text" autoGrow="true" label="Contenido" placeholder="Ingrese su reflexión del día."></ion-textarea>
      <ion-list *ngIf="mostrarMensajeError">
        <ion-item>
          <ion-badge color="danger">¡Error de ingreso de información!</ion-badge>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <div class="contanier-buttons"><div class="wrapper"><div (click)="guardarInfo()" class="ion-activatable ripple-parent">Guardar<ion-ripple-effect class="custom-ripple"></ion-ripple-effect></div></div></div>
</ion-content>
