<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="titulo">Diario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <div id="descripcion">
      <p id="lbl-pilar-estoicismo">
        {{ reflexion }}
      </p>
    </div>
  </div>
  <br><br>
  <div class="container-buttons">
    <ion-button expand="block" (click)="redirigirMiDiario()"><ion-icon name="book-outline"></ion-icon>&nbsp;&nbsp;Mi diario</ion-button>
  </div>
</ion-content>
