<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="titulo">Material</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngIf="mostrarMsjCon" class="color-amarillo">
    <ion-card-header>
      <ion-card-title class="color-amarillo">¡Error de conexión!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Para consumir este material es necesario estar conectado a internet. Revisa tu conexión y vuelve a intentarlo.
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="mostrarReproductor">
    <ion-card-header>
      <ion-card-title class="color-amarillo" style="font-size: 20px;">{{ titulo }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <iframe *ngIf="mostrarMeditaciones" width="100%" height="315" src="https://www.youtube.com/embed/9A5m4OiF6jE?si=eFI5FTj5FXUKqogG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <iframe *ngIf="mostrarManual" width="560" height="315" src="https://www.youtube.com/embed/IY2aRnaaWH4?si=ME3sDClhWSAokXel" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </ion-card-content>
    <ion-button fill="clear" (click)="volverBotones()">
      <ion-icon name="arrow-back-circle-outline"></ion-icon>
      Volver
    </ion-button>
  </ion-card>
  <div class="container-buttons" *ngIf="mostrarBotones">
    <ion-button expand="block" (click)="mostrarAudioLibro(1)">
      <ion-icon name="play-circle-outline"></ion-icon>
      AudioLibro - Meditaciones
    </ion-button>
    <ion-button expand="block" (click)="mostrarAudioLibro(2)">
      <ion-icon name="play-circle-outline"></ion-icon>
      AudioLibro - Manual Epicteto
    </ion-button>
  </div>
</ion-content>
