<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="titulo">Material</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngIf="mostrarMsjCon" class="color-amarillo">
    <ion-card-header>
      <ion-card-title class="color-amarillo">¡Error de conexión!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Para consumir este material es necesario estar conectado a internet. Revisa tu conexión y vuelve a intentarlo.
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="mostrarReproductor">
    <ion-card-header>
      <ion-card-title class="color-amarillo" style="font-size: 20px;">{{ titulo }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <iframe *ngIf="mostrarMeditaciones" width="100%" height="315" src="https://www.youtube.com/embed/9A5m4OiF6jE?si=eFI5FTj5FXUKqogG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <iframe *ngIf="mostrarManual" width="100%" height="315" src="https://www.youtube.com/embed/IY2aRnaaWH4?si=ME3sDClhWSAokXel" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <iframe *ngIf="mostrarLecciones" width="100%" height="315" src="https://www.youtube.com/embed/RE2iR-CtF4c?si=1nksp2a6LHDBr_oB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <iframe *ngIf="mostrarEpistolaLucilio1" width="100%" height="315" src="https://www.youtube.com/embed/lNV6H3DRFjw?si=BNswfZikD666I4OZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <iframe *ngIf="mostrarEpistolaLucilio2" width="100%" height="315" src="https://www.youtube.com/embed/xLXe6sBG3oA?si=7I7CjNQiweQt0_N_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <iframe *ngIf="mostrarEpistolaLucilio3" width="100%" height="315" src="https://www.youtube.com/embed/eB2auxNLwQs?si=7D7zSVyelGVroXgF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <iframe *ngIf="mostrarEpistolaLucilio4" width="100%" height="315" src="https://www.youtube.com/embed/XK0AlwqHlVQ?si=OxqFKS_KY7sfILs4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <iframe *ngIf="mostrarEpistolaLucilio5" width="100%" height="315" src="https://www.youtube.com/embed/f5awas7z_AY?si=CIKVkpPesdCmmwQl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <iframe *ngIf="mostrarEpistolaLucilio6" width="100%" height="315" src="https://www.youtube.com/embed/B0Kw3gc7G50?si=-0A4dbramsEPQotE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <iframe *ngIf="mostrarSobreBrevedad" width="100%" height="315" src="https://www.youtube.com/embed/dQAuTBw-YVg?si=SMKmTwr_cqN3pgH5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </ion-card-content>
    <ion-button fill="clear" (click)="volverBotones()">
      <ion-icon name="arrow-back-circle-outline"></ion-icon>
      Volver
    </ion-button>
  </ion-card>
  <div class="container-buttons" *ngIf="mostrarBotones">
    <ion-button expand="block" (click)="mostrarAudioLibro(1)">
      <ion-icon name="play-circle-outline"></ion-icon>
      Meditaciones
    </ion-button>
    <ion-button expand="block" (click)="mostrarAudioLibro(2)">
      <ion-icon name="play-circle-outline"></ion-icon>
      Manual Epicteto
    </ion-button>
    <ion-button expand="block" (click)="mostrarAudioLibro(3)">
      <ion-icon name="play-circle-outline"></ion-icon>
      Lecciones de estoicismo
    </ion-button> 
    <ion-button expand="block" (click)="mostrarAudioLibro(10)">
      <ion-icon name="play-circle-outline"></ion-icon>
      Sobre la brevedad de la vida
    </ion-button>
    <ion-button expand="block" (click)="mostrarAudioLibro(4)">
      <ion-icon name="play-circle-outline"></ion-icon>
      Epistolas morales a Lucilio [1-20]
    </ion-button> 
    <ion-button expand="block" (click)="mostrarAudioLibro(5)">
      <ion-icon name="play-circle-outline"></ion-icon>
      Epistolas morales a Lucilio [21-40]
    </ion-button> 
    <ion-button expand="block" (click)="mostrarAudioLibro(6)">
      <ion-icon name="play-circle-outline"></ion-icon>
      Epistolas morales a Lucilio [41-60]
    </ion-button>
    <ion-button expand="block" (click)="mostrarAudioLibro(7)">
      <ion-icon name="play-circle-outline"></ion-icon>
      Epistolas morales a Lucilio [61-80]
    </ion-button> 
    <ion-button expand="block" (click)="mostrarAudioLibro(8)">
      <ion-icon name="play-circle-outline"></ion-icon>
      Epistolas morales a Lucilio [81-100]
    </ion-button> 
    <ion-button expand="block" (click)="mostrarAudioLibro(9)">
      <ion-icon name="play-circle-outline"></ion-icon>
      Epistolas morales a Lucilio [101-124]
    </ion-button> 
  </div>
</ion-content>
