<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="titulo">Mandamientos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="contenedor-acordeones">
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header" color="light">
          <ion-label>Memento mori</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Memento mori</ion-card-title>
              <ion-card-subtitle>Definición:</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              <p>
                Memento mori, es un recordatorio poderoso para vivir con sabiduría, 
                aprecio y propósito, manteniendo la perspectiva de la mortalidad como un catalizador 
                para una vida más significativa y plena.
              </p>
              <br>
              <p>
                <strong>¿Cómo aplicarlo?</strong><br>
                <strong>1.Priorizar lo importante:</strong> <br>
                Al recordar que la vida es breve, los estoicos se esforzaban por centrarse en lo que es realmente 
                significativo y valioso. Podían enfrentar decisiones difíciles 
                al preguntarse si una opción encajaba con sus valores y contribuía a su bienestar a largo plazo.
                <br>

                <br><strong>2.Superar el miedo a la muerte:</strong> <br>
                Al aceptar la mortalidad como parte natural de la vida, los estoicos buscaban superar el miedo a la muerte. 
                Esto les permitía vivir con valentía y determinación, enfrentando desafíos y riesgos sin ser dominados por 
                la ansiedad. <br>

                <br><strong>3. Apreciar el momento presente:</strong> <br>
                Al reconocer la fugacidad de la existencia, los estoicos se esforzaban por vivir en el presente y aprovechar 
                cada momento. Esto implicaba saborear las experiencias cotidianas, conectarse con los seres queridos y encontrar 
                alegría en las pequeñas cosas. <br>

                <br><strong>4. Controlar las pasiones y deseos:</strong> <br>
                Recordar la impermanencia de la vida ayudaba a los estoicos a controlar sus deseos y pasiones excesivas. 
                Al comprender que la acumulación de bienes materiales no tiene sentido a largo plazo, se esforzaban por 
                buscar la autarquía emocional y la paz interior. <br>

                <br><strong>5. Cultivar la virtud:</strong>
                La idea de "memento mori" inspiraba a los estoicos a cultivar la virtud y vivir de manera ética. 
                Al enfocarse en el desarrollo de su carácter y la búsqueda del bien común, aspiraban a dejar un legado 
                positivo incluso después de su muerte. <br>
              </p>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-accordion>
      <ion-accordion value="second">
        <ion-item slot="header" color="light">
          <ion-label>Amor fati</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Amor fati</ion-card-title>
              <ion-card-subtitle>Definición:</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <p>
                Puede ser interpretado como una actitud de aceptación y aprecio por todas las facetas de la vida, tanto 
                las agradables como las difíciles. Es un enfoque que busca abrazar el destino y vivir de manera plena, 
                independientemente de las circunstancias.
              </p>
              <br>
              <p>
                <strong>¿Cómo aplicarlo?</strong> <br>
                <br><strong>1. Afrontar desafíos con resiliencia:</strong><br> 
                En lugar de resistirse o lamentarse ante los desafíos y adversidades, una persona que sigue el principio de 
                "amor fati" se enfrenta a ellos con valentía y resiliencia. Acepta que los desafíos son parte del camino de 
                la vida y busca aprender y crecer a partir de estas experiencias. <br>

                <br><strong>2. Aceptar el pasado:</strong><br>
                Practicar "amor fati" implica aceptar y amar incluso los errores y fracasos pasados. En lugar de lamentarse 
                por las decisiones pasadas, se abraza la idea de que esas experiencias contribuyeron al desarrollo personal y 
                trajeron aprendizaje. <br>

                <br><strong>3. Enfocarse en el presente:</strong><br>
                Quienes practican "amor fati" se centran en el momento presente, apreciando cada experiencia y relación en su 
                vida. Esto implica cultivar la gratitud por lo que tienen en lugar de anhelar constantemente lo que podría haber 
                sido. <br>

                <br><strong>4. Asumir responsabilidad:</strong><br>
                En lugar de culpar a otros o a las circunstancias, se asume la responsabilidad de las propias acciones y 
                elecciones. Esto implica aceptar que somos arquitectos de nuestra propia vida y que nuestras decisiones 
                tienen un impacto en nuestro destino. <br>

                <br><strong>5. Encontrar significado en las dificultades:</strong><br>
                Practicar "amor fati" implica encontrar significado y propósito incluso en las experiencias difíciles. 
                En lugar de ver las dificultades como obstáculos insuperables, se ven como oportunidades para crecer y fortalecerse.
              </p>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-accordion>
      <ion-accordion value="third">
        <ion-item slot="header" color="light">
          <ion-label>Fateri errata</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Fateri errata</ion-card-title>
              <ion-card-subtitle>Definición:</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              <p>
                La aceptación de los errores y la capacidad de aprender de ellos son componentes esenciales para el crecimiento 
                personal y el desarrollo de la virtud.
              </p><br>
              <p>
                <strong>¿Cómo aplicarlo?</strong> <br>
                <br><strong>1. Reflexión y autoexamen:</strong><br>
                Después de cometer un error, una persona estoica se toma un tiempo para reflexionar sobre lo sucedido y analizar 
                las decisiones y acciones que llevaron al error. Este autoexamen permite comprender las causas y aprender lecciones 
                valiosas para el futuro. <br>
                <br><strong>2. Aceptar la imperfección humana:</strong><br>
                Los estoicos reconocen que todos los seres humanos son imperfectos y están sujetos a cometer errores. 
                Aceptan esta realidad y evitan juzgarse con dureza por sus faltas, en lugar de ello, se esfuerzan por mejorar y crecer. <br>
                <br><strong>3. Corrección de rumbo: </strong><br>
                Aprender de los errores implica ajustar el comportamiento futuro para evitar repetir las mismas acciones que llevaron a 
                problemas anteriores. Esto puede implicar cambiar hábitos, enfoques o decisiones para tomar un camino más sabio y virtuoso. <br>
                <br><strong>4. Desapego de la culpa:</strong><br>
                En lugar de sentirse abrumado por la culpa o la vergüenza por un error, los estoicos practican el desapego emocional y se 
                centran en cómo pueden mejorar y avanzar. Aceptan la responsabilidad por sus acciones y buscan hacer lo correcto en adelante. <br>
              
                <br><strong>5. Fortaleza en la adversidad:</strong><br>
                Aceptar los errores y aprender de ellos fortalece la capacidad de enfrentar desafíos con resiliencia. Los estoicos ven los errores 
                como oportunidades de crecimiento y no permiten que los contratiempos los derriben.
              </p>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-accordion>
      <ion-accordion value="four">
        <ion-item slot="header" color="light">
          <ion-label>Infortunii viventem</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Infortunii viventem</ion-card-title>
              <ion-card-subtitle>Definición:</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              <p>
                En el estoicismo, esto se relaciona con el principio de prepararse mental y emocionalmente para futuros 
                contratiempos, lo que está en línea con la filosofía estoica de aceptación, resiliencia y crecimiento.
              </p>
              <br>
              <p>
                <br><strong>¿Cómo aplicarlo?</strong> <br>
                <br><strong>1. Practicar la autodisciplina en tiempos de tranquilidad:</strong><br>
                En lugar de ceder a los placeres y comodidades en tiempos de seguridad, un estoico podría utilizar esos 
                momentos para cultivar la autodisciplina y fortalecer la voluntad. Esto podría manifestarse en mantener 
                hábitos saludables, como la dieta y el ejercicio, o en evitar indulgencias excesivas. <br>

                <br><strong>2. Mantener la perspectiva en momentos felices: </strong><br>
                En lugar de perderse en la euforia de momentos alegres, un estoico podría recordar conscientemente la 
                impermanencia de las cosas y mantener una perspectiva equilibrada. Esto les permitiría disfrutar del 
                presente mientras mantienen una conciencia de la naturaleza efímera de la felicidad. <br>

                <br><strong>3. Practicar la gratitud en todo momento: </strong><br>
                Los estoicos valoran la práctica de la gratitud en todas las circunstancias. Incluso en momentos difíciles, 
                encuentran razones para estar agradecidos y apreciar lo que tienen. Esta mentalidad les permite enfrentar 
                desafíos con resiliencia y una actitud positiva. <br>

                <br><strong>4. Desarrollar la resiliencia ante la adversidad:  </strong><br>
                Los estoicos entienden que la adversidad es inevitable en la vida. Utilizan períodos de seguridad para fortalecer 
                su resiliencia emocional y mental, de modo que puedan enfrentar los desafíos con serenidad y determinación cuando 
                surjan. <br>

                <br><strong>5. Imaginar los peores escenarios posibles:  </strong><br>
                Esta práctica puede ser considerada como un tipo de "premeditatio malorum", que es una técnica estoica que implica 
                anticipar y prepararse mentalmente para posibles dificultades y desafíos futuros. Al imaginar escenarios adversos 
                y reflexionar sobre cómo nos sentiríamos y cómo responderíamos, se busca desarrollar la resiliencia y reducir la 
                ansiedad asociada con lo desconocido.
              </p>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-accordion>
      <ion-accordion value="five">
        <ion-item slot="header" color="light">
          <ion-label>Apatheia</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Apatheia</ion-card-title>
              <ion-card-subtitle>Definición:</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              <p>
                "Apatheia" es un concepto fundamental en el estoicismo y se refiere a un estado de tranquilidad emocional 
                y serenidad ante las circunstancias de la vida. Sin embargo, su significado no debe confundirse con la 
                ausencia total de emociones; más bien, se trata de alcanzar un equilibrio y control sobre las emociones 
                para no ser dominados por ellas.
              </p><br>
              <p>
                "apatheia" implica liberarse de las pasiones destructivas y las emociones perturbadoras que pueden nublar 
                el juicio y perturbar la paz interior. Es una parte integral de la búsqueda de la virtud y la sabiduría. 
                Al practicar "apatheia", los estoicos aspiran a mantener la calma y la ecuanimidad, incluso en medio de 
                los desafíos y dificultades de la vida.
              </p> <br>
              <p>
                <br><strong>¿Cómo aplicarlo?</strong> <br>
                <br><strong>1. Control de la ira:</strong><br>
                En lugar de reaccionar impulsivamente ante provocaciones o injusticias con ira descontrolada, un estoico 
                practicaría "apatheia" al mantener la calma y responder de manera razonada y tranquila. <br>

                <br><strong>2. Superar el miedo:</strong><br>
                Enfrentar situaciones temerosas con una actitud serena y valiente, en lugar de permitir que el miedo paralice o 
                controle las acciones. <br>

                <br><strong>3. Manejo de la tristeza:</strong><br>
                En lugar de dejarse abrumar por la tristeza en momentos de pérdida o decepción, un estoico aplicaría "apatheia" 
                para aceptar la realidad y encontrar formas constructivas de lidiar con las emociones. <br>

                <br><strong>4. Evitar el exceso de alegría:</strong><br>
                Aunque es natural sentir alegría ante los éxitos y logros, un estoico practicaría "apatheia" al no permitir que 
                la euforia lo lleve a la complacencia excesiva o la arrogancia. <br>

                <br><strong>5. Mantener la perspectiva:</strong><br>
                Practicar "apatheia" implica mantener una perspectiva equilibrada y objetiva ante las circunstancias. En lugar de 
                dejarse llevar por emociones intensas, se busca mantener la mente serena y clara para tomar decisiones sabias y 
                prudentes. <br>

                <br><br>
                Apatheia, por tanto, representa la capacidad de mantener el control emocional y la serenidad, permitiendo a los individuos 
                enfrentar los desafíos y vicisitudes de la vida con sabiduría y virtud.

              </p>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-accordion>
      <ion-accordion value="six">
        <ion-item slot="header" color="light">
          <ion-label>Sympatheia</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Sympatheia</ion-card-title>
              <ion-card-subtitle>Definición:</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              <p>
                "Sympatheia" es un término que tiene sus raíces en la filosofía estoica y se refiere a la interconexión 
                y unidad del cosmos, así como a la idea de que todo está interrelacionado y conectado en el universo.
                Para los estoicos, "sympatheia" implica que todas las partes del universo están interconectadas y afectan mutuamente. 
                Esto también se relaciona con la creencia de que todo está gobernado por la razón divina o el Logos. 
                Aunque los estoicos buscaban alcanzar la serenidad emocional y la autarquía interna (independencia emocional), 
                reconocían que eran parte de un todo mayor y que sus acciones y actitudes influían en el orden cósmico.
              </p> <br>
              <p>
                <br><strong>¿Cómo aplicarlo?</strong> <br>
                <br><strong>1. Consideración de las acciones individuales: </strong><br>
                Al tomar decisiones y actuar, un estoico podría reflexionar sobre cómo esas acciones encajan en el orden y la armonía 
                del universo. Esto podría influir en la ética personal y en la elección de actuar de manera coherente con el bien común. <br>
                
                <br><strong>2. Interdependencia de las personas:  </strong><br>
                Al reconocer la interconexión de todas las personas y seres, un estoico podría esforzarse por tratar a los demás con 
                empatía y compasión, reconociendo que las acciones individuales pueden tener un efecto en la vida de los demás. <br>

                <br><strong>3. Admiración por la naturaleza:  </strong><br>
                Al contemplar la belleza y la complejidad de la naturaleza, un estoico podría experimentar un sentido de conexión con el mundo 
                que lo rodea, reconociendo la unidad y la armonía en la diversidad. <br>

                <br><strong>4. Aceptación de eventos externos:  </strong><br>
                Si bien los estoicos buscan mantener el control interno y la serenidad ante las circunstancias, también entienden que eventos 
                externos están más allá de su control directo. Practicar "sympatheia" podría significar aceptar los cambios y desafíos externos 
                con una comprensión de que son parte del orden cósmico. <br>

                <br>Este mandamiento refleja la creencia en la interconexión y unidad del cosmos, lo que puede influir en cómo los estoicos ven su 
                lugar en el mundo y cómo consideran sus acciones y relaciones en relación con el todo mayor.

              </p>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-accordion>
      <ion-accordion value="seven">
        <ion-item slot="header" color="light">
          <ion-label>Comprehendo adventu</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Comprehendo adventu</ion-card-title>
              <ion-card-subtitle>Definición:</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              <p>
                El estoicismo enseña a cultivar una visión amplia de la vida y una comprensión de nuestro lugar en el cosmos. 
                Esto implica reconocer la insignificancia relativa de nuestras preocupaciones y deseos individuales en comparación 
                con la vastedad del universo y la naturaleza.
              </p> <br>
              <p>
                <br><strong>¿Cómo aplicarlo?</strong> <br>
                <br><strong>1. Contemplación de la naturaleza: </strong><br>
                Puedes dedicar tiempo a observar la belleza y la complejidad de la naturaleza, lo que te ayudará a ganar una perspectiva 
                más amplia y a apreciar la interconexión de todas las cosas. <br>

                <br><strong>2. Práctica de la gratitud: </strong><br>
                Agradece por las cosas simples de la vida, como la comida, el agua y la seguridad, recordando que no todos tienen acceso 
                a estas comodidades. Esto te ayudará a comprender cuán afortunado eres y a mantener una perspectiva humilde. <br>

                <br><strong>3. Afrontar problemas menores con calma: </strong><br>
                Cuando enfrentes desafíos o contratiempos, recuerda que en la vastedad del universo, estos problemas son pequeños y temporales. 
                Esto te permitirá abordarlos con una actitud más serena y equilibrada. <br>

                <br><strong>4. Empatía y compasión:  </strong><br>
                Al relacionarte con otras personas, trata de entender sus perspectivas y circunstancias. Esto te ayudará a ver la vida desde 
                diferentes ángulos y a ser más comprensivo y compasivo. <br>

                <br><strong>5. Meditar sobre la muerte: </strong><br>
                Reflexionar sobre la inevitable naturaleza efímera de la vida puede ayudarte a valorar cada momento y a vivir con un sentido de 
                propósito y significado. <br>

                <br> la idea de tener una perspectiva panorámica de la vida y reconocer la insignificancia relativa de uno mismo está en línea con 
                los principios de humildad, aceptación y sabiduría del estoicismo.

              </p>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-accordion>
      <ion-accordion value="eight">
        <ion-item slot="header" color="light">
          <ion-label>Neutrum moralis</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Neutrum moralis</ion-card-title>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              Here's a small text description for the card content. Nothing more, nothing less.
            </ion-card-content>
          </ion-card>
        </div>
      </ion-accordion>
      <ion-accordion value="nine">
        <ion-item slot="header" color="light">
          <ion-label>Phroairesis</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Phroairesis</ion-card-title>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              Here's a small text description for the card content. Nothing more, nothing less.
            </ion-card-content>
          </ion-card>
        </div>
      </ion-accordion>
      <ion-accordion value="ten">
        <ion-item slot="header" color="light">
          <ion-label>Circulus vituoso</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Circulus vituoso</ion-card-title>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              Here's a small text description for the card content. Nothing more, nothing less.
            </ion-card-content>
          </ion-card>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </div>

  <div class="contanier-buttons">
    <div class="wrapper">
      <div (click)="volver()" class="ion-activatable ripple-parent">
        Volver
        <ion-ripple-effect class="custom-ripple"></ion-ripple-effect>
      </div>
    </div>
  </div>
</ion-content>
