@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
ion-title[id="titulo"] {
    font-family: 'Playfair Display', serif;
    color: #D4AF37;
    text-align: center;
}