@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
/* Cambia el color del icono "home" a dorado */
ion-title[id="titulo"] {
    font-family: 'Playfair Display', serif;
    color: #D4AF37;
    text-align: center;
}

#descripcion{
  width: 90%;
  margin: 0 auto;
  margin-top: 5%;
}

#descripcion p {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  line-height: 26px;
  color: #D4AF37;
  margin: 0;
}

.container-buttons{
  display: flex;
}

ion-button{
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  --background: #121212;
  --color: white;
  height: 120px;
  width: 35%;
  margin: 0; /* Elimina los márgenes predeterminados de los botones */
  --padding-start: 20px;
  --padding-end: 20px;
}