<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="titulo">{{ nombreLibro }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="descripcion">
    <p>El libro {{ nombreLibro }} de la autoría de {{ autorLibro}},</p>
    <br><p>{{ descLibro }}</p>
    <br><br><p><strong>Capítulos:</strong></p>
  </div>
  <div class="container-buttons">
    <ion-button class="buton-capitulo" *ngFor="let index of getRange(noCapitulos); let i = index" expand="block" (click)="navegarCapitulo(i)">
      <ion-icon name="book-outline"></ion-icon>&nbsp;{{ i + 1 }}
    </ion-button>
  </div>
  <div class="contanier-buttons"><div class="wrapper"><div (click)="volver()" class="ion-activatable ripple-parent">Volver<ion-ripple-effect class="custom-ripple"></ion-ripple-effect></div></div></div>
</ion-content>
