@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
/* Cambia el color del icono "home" a dorado */
ion-title[id="titulo"] {
    font-family: 'Playfair Display', serif;
    color: #D4AF37;
    text-align: center;
}

#descripcion{
  width: 90%;
  margin: 0 auto;
  margin-top: 5%;
}

#descripcion p {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  line-height: 26px;
  color: #D4AF37;
  margin: 0;
}

.container-buttons{
  display: flex;
  flex-wrap: wrap;
}

.buton-capitulo{
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  --background: #121212;
  --color: white;
  height: 120px;
  width: calc(33.33% - 10px); /* Ajusta el ancho y el espacio entre componentes según tus necesidades */
  margin: 5px;
  padding: 10px;
  box-sizing: border-box;
}

/* Salto de línea cada 3 componentes */
.buton-capitulo:nth-child(3n) {
  margin-right: 0; /* Elimina el margen derecho del último componente en la fila */
  margin-bottom: 15px; /* Agrega un margen inferior para el salto de línea */
}