<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="titulo">Frases</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Slide 1</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Content of Slide 1
          </ion-card-content>
        </ion-card>
      </div>
      <div class="swiper-slide">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Slide 2</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Content of Slide 2
          </ion-card-content>
        </ion-card>
      </div>
      <div class="swiper-slide">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Slide 3</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Content of Slide 3
          </ion-card-content>
        </ion-card>
      </div>
      <div class="swiper-slide">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Slide 4</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Content of Slide 4
          </ion-card-content>
        </ion-card>
      </div>
      <div class="swiper-slide">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Slide 5</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Content of Slide 5
          </ion-card-content>
        </ion-card>
      </div>
      <!-- Agrega más slides aquí -->
    </div>
  </div>
</ion-content>
