<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="titulo">Frases</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let frase of frases">
        <ion-card>
          <img src='{{ frase.image }}' />
          <ion-card-header>
            <ion-card-title style="font-size: 20px;"><i>{{ frase.frase }}</i></ion-card-title>
            <ion-card-subtitle>{{ frase.autor }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            {{ frase.explicacion }}
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>
