<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="titulo">Estudiar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container-buttons">
    <ion-button expand="block" (click)="navegarConceptos()">
      <ion-icon name="bookmarks-outline"></ion-icon>
      Conceptos importantes
    </ion-button>
    <ion-button expand="block" (click)="navegarLecturas()">
      <ion-icon name="library-outline"></ion-icon>
      Lecturas filosóficas &nbsp; &nbsp;
    </ion-button>
    <ion-button expand="block" (click)="navegarFrases()">
      <ion-icon name="grid-outline"></ion-icon>
      Frases para reflexión &nbsp;
    </ion-button>
  </div>
</ion-content>