<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="titulo">Practicar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container-buttons">
    <ion-button expand="block" (click)="navegarPreguntas()">
      <ion-icon name="barbell-outline"></ion-icon>
      Pruebas de conocimiento
    </ion-button>
    <ion-button expand="block">
      <ion-icon name="library-outline"></ion-icon>
      Audio-Libros
    </ion-button>
  </div>
</ion-content>
