/* Cambia el color del icono "home" a dorado */
ion-title[id="titulo"] {
    font-family: 'Playfair Display', serif;
    color: #D4AF37;
    text-align: center;
}

ion-button{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    --background: #121212;
    --color: white;
    height: 120px;
    width: 35%;
    margin: 0; /* Elimina los márgenes predeterminados de los botones */
    --padding-start: 20px;
    --padding-end: 20px;
}

.container-buttons{
    display: flex;
}

ion-icon {
    font-size: 40px;
    padding-right: 10%;
}

ion-img{
    background-color: white;
}