<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="titulo">Lecturas filosóficas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container-buttons">
    <ion-button expand="block" (click)="navegarMeditaciones()">
      Meditaciones
    </ion-button>
    <ion-button expand="block" (click)="navegarMeditaciones()">
      Enquiridion
    </ion-button>
    <ion-button expand="block" (click)="navegarMeditaciones()">
      Cartas a Lucilio por Séneca
    </ion-button>
    <ion-button expand="block" (click)="navegarMeditaciones()">
      Sobre la brevedad de la vida
    </ion-button>
    <ion-button expand="block" (click)="navegarMeditaciones()">
      Sobre la ira por Séneca
    </ion-button>
    <ion-button expand="block" (click)="navegarMeditaciones()">
      Discursos por Epicteto
    </ion-button>
    <ion-button expand="block" (click)="navegarMeditaciones()">
      El arte de la felicidad
    </ion-button>
    <ion-button expand="block" (click)="navegarMeditaciones()">
      Cómo ser un estoico
    </ion-button>
    <ion-button expand="block" (click)="navegarMeditaciones()">
      Un manual de filosofía estoica
    </ion-button>
    <ion-button expand="block" (click)="navegarMeditaciones()">
      La guía completa del estoicismo
    </ion-button>
    <ion-button expand="block" (click)="navegarMeditaciones()">
      El camino estoico - Ryan Holiday
    </ion-button>
    <ion-button expand="block" (click)="navegarMeditaciones()">
      El estoicismo antiguo
    </ion-button>
  </div>
</ion-content>
