<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="titulo">Lecturas filosóficas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container-buttons">
    <ion-button expand="block" (click)="navegarMeditaciones()">
      <ion-icon name="book-outline"></ion-icon>1
    </ion-button>
    <ion-button expand="block" (click)="navegarMeditaciones()">
      <ion-icon name="book-outline"></ion-icon>2
    </ion-button>
    <ion-button expand="block" (click)="navegarMeditaciones()">
      <ion-icon name="book-outline"></ion-icon>3
    </ion-button>
  </div>
  <div class="container-buttons">
    <ion-button expand="block" (click)="navegarMeditaciones()">
      <ion-icon name="book-outline"></ion-icon>4
    </ion-button>
    <ion-button expand="block" (click)="navegarMeditaciones()">
      <ion-icon name="book-outline"></ion-icon>5
    </ion-button>
    <ion-button expand="block" (click)="navegarMeditaciones()">
      <ion-icon name="book-outline"></ion-icon>6
    </ion-button>
  </div>
  <div class="container-buttons">
    <ion-button expand="block" (click)="navegarMeditaciones()">
      <ion-icon name="book-outline"></ion-icon>7
    </ion-button>
    <ion-button expand="block" (click)="navegarMeditaciones()">
      <ion-icon name="book-outline"></ion-icon>8
    </ion-button>
    <ion-button expand="block" (click)="navegarMeditaciones()">
      <ion-icon name="book-outline"></ion-icon>9
    </ion-button>
  </div>
  <div class="container-buttons">
    <ion-button expand="block" (click)="navegarMeditaciones()">
      <ion-icon name="book-outline"></ion-icon>10
    </ion-button>
    <ion-button expand="block" (click)="navegarMeditaciones()">
      <ion-icon name="book-outline"></ion-icon>11
    </ion-button>
    <ion-button expand="block" (click)="navegarMeditaciones()">
      <ion-icon name="book-outline"></ion-icon>12
    </ion-button>
  </div>
  <div class="container-buttons">
    <ion-button expand="block" (click)="navegarMeditaciones()">
      <ion-icon name="book-outline"></ion-icon>13
    </ion-button>
    <ion-button expand="block" (click)="navegarMeditaciones()">
      <ion-icon name="book-outline"></ion-icon>14
    </ion-button>
    <ion-button expand="block" (click)="navegarMeditaciones()">
      <ion-icon name="book-outline"></ion-icon>15
    </ion-button>
  </div>
</ion-content>
