@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 28px;
  line-height: 26px;
}

#container p {
  font-family: 'Playfair Display', serif;
  font-size: 28px;
  line-height: 26px;
  color: #D4AF37;
  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-title{
  font-family: 'Playfair Display', serif;
  color: #D4AF37;
}

/* Cambia el color del icono "home" a dorado */
ion-icon[name="home"] {
  color: black;
}


