<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="titulo">Pilares fundamentales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="contenedor-acordeones">
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header" color="light">
          <ion-label>Ignorancia de la acción externa</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Ignorancia de la acción externa</ion-card-title>
              <ion-card-subtitle>Descripción:</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              <p>
                Los estoicos enfatizan la importancia de dirigir nuestra atención 
                y energía hacia nuestras actitudes, creencias y acciones, en lugar 
                de preocuparnos por factores externos sobre los que no tenemos 
                influencia directa.
              </p><br>
              <p>
                <strong>Ejemplos cotidianos:</strong><br>
                <br><strong>1. Clima y condiciones meteorológicas:</strong><br>
                En lugar de lamentarse o sentirse frustrado por un día lluvioso durante un evento planificado al aire libre, 
                un enfoque estoico implicaría aceptar la situación y adaptarse sin permitir que el clima afecte negativamente 
                el estado emocional. <br>
                <br><strong>2. Opiniones y críticas de los demás:</strong><br>
                En lugar de preocuparse en exceso por lo que los demás piensan de ti o preocuparte por las críticas, un enfoque 
                estoico implicaría recordar que no puedes controlar las opiniones de los demás, pero puedes controlar cómo respondes 
                y cuán fiel eres a tus propios valores.<br>
                <br><strong>3. Resultados de esfuerzos y proyectos:</strong><br>
                En lugar de obsesionarse con el resultado final de un proyecto, los estoicos enfatizarían poner su esfuerzo y enfoque
                en el proceso y la calidad de su trabajo, en lugar de permitir que el resultado determine su satisfacción personal.<br>
                <br><strong>4. Acontecimientos mundiales y situaciones políticas:</strong><br>
                En lugar de sentirse abrumado o preocupado por eventos globales sobre los que no tienen control directo, los estoicos 
                se centrarían en cómo pueden contribuir positivamente en su comunidad y llevar una vida virtuosa dentro de sus propios 
                medios.<br>
                <br><strong>5. Situaciones económicas:</strong><br>
                En lugar de dejar que las fluctuaciones económicas afecten drásticamente tu sentido de bienestar, los estoicos practicarían 
                la serenidad y la adaptabilidad, enfocándose en su capacidad para tomar decisiones y ser resilientes en tiempos difíciles.<br>
                <br><br>Esta idea propone enfocarse en lo que está dentro de nuestro control y no preocuparse en exceso por circunstancias externas se alinea
                con los principios estoicos de la autarquía emocional y la virtud práctica.
              </p>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-accordion>
      <ion-accordion value="second">
        <ion-item slot="header" color="light">
          <ion-label>Eliminación de lo superfluo</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Eliminación de lo superfluo</ion-card-title>
              <ion-card-subtitle>Descripción:</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <p>
                La "Eliminación de lo superfluo" es un concepto relacionado con el estoicismo que se refiere a la práctica de simplificar y despojar 
                nuestras vidas de elementos innecesarios o superficiales. Los estoicos creían que al liberarnos de apegos materiales y emocionales 
                innecesarios, podemos vivir con mayor claridad, enfoque y tranquilidad.<br><br>

                Esta práctica tiene como objetivo reducir la distracción y la perturbación causada por deseos excesivos o preocupaciones triviales, 
                y en su lugar, cultivar una vida centrada en la virtud, la sabiduría y el bienestar duradero. <br>
              </p><br>
              <p>
                <strong>Ejemplos en la vida cotidiana:</strong><br>
                <strong>1. Simplicidad en posesiones materiales:</strong><br>
                En lugar de acumular objetos y posesiones materiales por el simple deseo de tener más, un estoico practicaría la moderación y se 
                enfocaría en poseer solo lo que es esencial y útil. Esto conduce a un estilo de vida más simple y menos preocupaciones por la 
                posesión de cosas materiales.<br>
                <br><strong>2. Reducción del consumo:</strong><br>
                Los estoicos podrían aplicar la "Eliminación de lo superfluo" al evaluar sus hábitos de consumo. En lugar de comprar compulsivamente 
                o buscar constantemente satisfacción en las compras, practicarían la autodisciplina y la consideración cuidadosa antes de adquirir 
                algo nuevo.<br>
                <br><strong>3. Simplificación de relaciones:</strong><br>
                En términos de relaciones interpersonales, un enfoque estoico podría implicar priorizar las relaciones genuinas y significativas, 
                y evitar la inversión de tiempo y energía en relaciones superficiales o tóxicas que no contribuyen a su bienestar emocional.<br>
                <br><strong>4. Claridad en objetivos y metas:</strong><br>
                Los estoicos se esforzarían por establecer objetivos y metas que estén alineados con sus valores y contribuyan a su crecimiento 
                personal y virtud. Esto implica eliminar objetivos impulsivos o superficiales que no tienen un propósito significativo.<br>
                <br><strong>5. Enfoque en lo esencial:</strong><br>
                Al enfrentar decisiones y situaciones en la vida, los estoicos podrían practicar la "Eliminación de lo superfluo" al enfocarse 
                en lo esencial y evitar dispersarse en detalles triviales. Esto les permite tomar decisiones más sabias y eficientes.<br>
                <br><strong>6. Desapego emocional:</strong><br>
                En términos de emociones, los estoicos practicarían la "Eliminación de lo superfluo" al soltar las emociones negativas o 
                destructivas que no contribuyen a su bienestar mental. Al liberarse del apego a la ira, el miedo excesivo u otras emociones 
                perturbadoras, pueden alcanzar una mayor paz interior. <br>
                <br>Se trata de simplificar nuestras vidas, desapegarnos de lo que no es esencial y concentrarnos en lo que realmente importa 
                para cultivar una existencia más sabia y serena.
              </p>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-accordion>
      <ion-accordion value="third">
        <ion-item slot="header" color="light">
          <ion-label>Percepción de la realidad</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Percepción de la realidad</ion-card-title>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              Here's a small text description for the card content. Nothing more, nothing less.
            </ion-card-content>
          </ion-card>
        </div>
      </ion-accordion>
      <ion-accordion value="four">
        <ion-item slot="header" color="light">
          <ion-label>Dicotomía de control</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Dicotomía de control</ion-card-title>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              Here's a small text description for the card content. Nothing more, nothing less.
            </ion-card-content>
          </ion-card>
        </div>
      </ion-accordion>
      <ion-accordion value="five">
        <ion-item slot="header" color="light">
          <ion-label>Reconciliación con el fracaso</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Reconciliación con el fracaso</ion-card-title>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              Here's a small text description for the card content. Nothing more, nothing less.
            </ion-card-content>
          </ion-card>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </div>

  <div class="contanier-buttons">
    <div class="wrapper">
      <div (click)="volver()" class="ion-activatable ripple-parent">
        Volver
        <ion-ripple-effect class="custom-ripple"></ion-ripple-effect>
      </div>
    </div>
  </div>
</ion-content>
