<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="titulo">Pilares fundamentales</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div id="contenedor-acordeones">
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header" color="light">
          <ion-label>Ignorancia de la acción externa</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Ignorancia de la acción externa</ion-card-title>
              <ion-card-subtitle>Descripción:</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <p>Los estoicos enfatizan la importancia de dirigir nuestra atención y energía hacia nuestras actitudes, creencias y acciones, en lugar de preocuparnos por factores externos sobre los que no tenemos influencia directa.</p><br>
              <p>
                <strong>Ejemplos cotidianos:</strong><br>
                <br><strong>1. Clima y condiciones meteorológicas:</strong><br>En lugar de lamentarse o sentirse frustrado por un día lluvioso durante un evento planificado al aire libre, un enfoque estoico implicaría aceptar la situación y adaptarse sin permitir que el clima afecte negativamente el estado emocional. <br>
                <br><strong>2. Opiniones y críticas de los demás:</strong><br>En lugar de preocuparse en exceso por lo que los demás piensan de ti o preocuparte por las críticas, un enfoque estoico implicaría recordar que no puedes controlar las opiniones de los demás, pero puedes controlar cómo respondes y cuán fiel eres a tus propios valores.<br>
                <br><strong>3. Resultados de esfuerzos y proyectos:</strong><br>En lugar de obsesionarse con el resultado final de un proyecto, los estoicos enfatizarían poner su esfuerzo y enfoque en el proceso y la calidad de su trabajo, en lugar de permitir que el resultado determine su satisfacción personal.<br>
                <br><strong>4. Acontecimientos mundiales y situaciones políticas:</strong><br>En lugar de sentirse abrumado o preocupado por eventos globales sobre los que no tienen control directo, los estoicos se centrarían en cómo pueden contribuir positivamente en su comunidad y llevar una vida virtuosa dentro de sus propios medios.<br>
                <br><strong>5. Situaciones económicas:</strong><br>En lugar de dejar que las fluctuaciones económicas afecten drásticamente tu sentido de bienestar, los estoicos practicarían la serenidad y la adaptabilidad, enfocándose en su capacidad para tomar decisiones y ser resilientes en tiempos difíciles.<br><br><br>Esta idea propone enfocarse en lo que está dentro de nuestro control y no preocuparse en exceso por circunstancias externas se alinea con los principios estoicos de la autarquía emocional y la virtud práctica.
              </p>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-accordion>
      <ion-accordion value="second">
        <ion-item slot="header" color="light">
          <ion-label>Eliminación de lo superfluo</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Eliminación de lo superfluo</ion-card-title>
              <ion-card-subtitle>Descripción:</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <p>
                La "Eliminación de lo superfluo" es un concepto relacionado con el estoicismo que se refiere a la práctica de simplificar y despojar nuestras vidas de elementos innecesarios o superficiales. Los estoicos creían que al liberarnos de apegos materiales y emocionales innecesarios, podemos vivir con mayor claridad, enfoque y tranquilidad.<br><br>Esta práctica tiene como objetivo reducir la distracción y la perturbación causada por deseos excesivos o preocupaciones triviales, y en su lugar, cultivar una vida centrada en la virtud, la sabiduría y el bienestar duradero. <br>
              </p><br>
              <p>
                <strong>Ejemplos en la vida cotidiana:</strong><br>
                <strong>1. Simplicidad en posesiones materiales:</strong><br>En lugar de acumular objetos y posesiones materiales por el simple deseo de tener más, un estoico practicaría la moderación y se enfocaría en poseer solo lo que es esencial y útil. Esto conduce a un estilo de vida más simple y menos preocupaciones por la posesión de cosas materiales.<br>
                <br><strong>2. Reducción del consumo:</strong><br>Los estoicos podrían aplicar la "Eliminación de lo superfluo" al evaluar sus hábitos de consumo. En lugar de comprar compulsivamente o buscar constantemente satisfacción en las compras, practicarían la autodisciplina y la consideración cuidadosa antes de adquirir algo nuevo.<br>
                <br><strong>3. Simplificación de relaciones:</strong><br>En términos de relaciones interpersonales, un enfoque estoico podría implicar priorizar las relaciones genuinas y significativas, y evitar la inversión de tiempo y energía en relaciones superficiales o tóxicas que no contribuyen a su bienestar emocional.<br>
                <br><strong>4. Claridad en objetivos y metas:</strong><br>Los estoicos se esforzarían por establecer objetivos y metas que estén alineados con sus valores y contribuyan a su crecimiento personal y virtud. Esto implica eliminar objetivos impulsivos o superficiales que no tienen un propósito significativo.<br>
                <br><strong>5. Enfoque en lo esencial:</strong><br>Al enfrentar decisiones y situaciones en la vida, los estoicos podrían practicar la "Eliminación de lo superfluo" al enfocarse en lo esencial y evitar dispersarse en detalles triviales. Esto les permite tomar decisiones más sabias y eficientes.<br>
                <br><strong>6. Desapego emocional:</strong><br>En términos de emociones, los estoicos practicarían la "Eliminación de lo superfluo" al soltar las emociones negativas o destructivas que no contribuyen a su bienestar mental. Al liberarse del apego a la ira, el miedo excesivo u otras emociones perturbadoras, pueden alcanzar una mayor paz interior. <br>
                <br>Se trata de simplificar nuestras vidas, desapegarnos de lo que no es esencial y concentrarnos en lo que realmente importa para cultivar una existencia más sabia y serena.
              </p>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-accordion>
      <ion-accordion value="third">
        <ion-item slot="header" color="light">
          <ion-label>Percepción de la realidad</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Percepción de la realidad</ion-card-title>
              <ion-card-subtitle>Descripción:</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <p>
                En el estoicismo, se enfatiza la importancia de ver las cosas como realmente son, sin dejarse llevar por prejuicios, deseos o emociones distorsionadoras. Se busca una comprensión objetiva y clara de la realidad para tomar decisiones sabias y ejercer la virtud en todas las situaciones.
              </p><br>
              <p>
                <br><strong>Ejemplos de la vida cotidiana:</strong><br><br><strong>1. Afrontar desafíos con calma:</strong><br>Si enfrentas una dificultad en el trabajo, una percepción realista implicaría evaluar la situación de manera objetiva y considerar las soluciones posibles en lugar de entrar en pánico o exagerar la magnitud del problema<br>
                <br><strong>2. Interpretación de eventos:</strong><br>Al experimentar un contratiempo, como perder un vuelo, una percepción realista implicaría verlo como una eventualidad normal en la vida en lugar de enfocarse en la frustración y el enojo.<br>
                <br><strong>3. Relaciones interpersonales:</strong><br>Al interactuar con los demás, una percepción realista implica evitar prejuicios o interpretaciones erróneas de sus intenciones, permitiéndote tratar a las personas con empatía y comprensión. <br>
                <br><strong>4. Valoración de las posesiones:</strong><br>Al considerar adquirir algo nuevo, una percepción realista te ayudaría a evaluar si realmente necesitas ese objeto y si su adquisición contribuiría a tu bienestar a largo plazo.<br>
                <br><strong>5. Control de emociones:</strong><br>Si sientes celos o envidia hacia alguien, una percepción realista implicaría reflexionar sobre las razones detrás de esas emociones y comprender que pueden ser irracionales o basadas en suposiciones incorrectas.<br>
                <br><strong>6. Resiliencia ante la adversidad:</strong><br>Si enfrentas una pérdida personal, como la muerte de un ser querido, una percepción realista te permitiría aceptar el dolor de manera saludable y comprender que el sufrimiento es parte de la experiencia humana.<br><br>La "Percepción de la realidad" en el estoicismo se refiere a la habilidad de ver y comprender las cosas tal como son, sin distorsiones emocionales o cognitivas. Al tener una percepción más precisa y objetiva de la realidad, los estoicos creían que podemos tomar decisiones más sabias, cultivar virtud y vivir en armonía con la naturaleza.
              </p>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-accordion>
      <ion-accordion value="four">
        <ion-item slot="header" color="light">
          <ion-label>Dicotomía de control</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Dicotomía de control</ion-card-title>
              <ion-card-subtitle>Descripción:</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <p>La "Dicotomía de control" es un concepto fundamental en el estoicismo que se refiere a la división de todas las cosas en dos categorías distintas: aquellas que están dentro de nuestro control y aquellas que están fuera de nuestro control. Esta enseñanza destaca la importancia de reconocer y aceptar la diferencia entre lo que podemos influenciar directamente y lo que no podemos, y enfocarnos en dirigir nuestros esfuerzos y atención hacia lo que está en nuestro control.<br><br>El objetivo principal de la "Dicotomía de control" es cultivar la autarquía emocional y la tranquilidad al reconocer que gran parte de lo que nos causa ansiedad o perturbación está fuera de nuestro control y, por lo tanto, no vale la pena preocuparse en exceso.<br></p><br>
              <p>
                <br><strong>Ejemplos de la vida cotidiana:</strong><br>
                <br><strong>1. Control interno:</strong><br>Tu actitud, creencias, deseos y acciones están dentro de tu control directo. Por lo tanto, puedes esforzarte por ser más virtuoso, prácticar la autodisciplina y mantener una actitud positiva.<br>
                <br><strong>2. Eventos externos:</strong><br>Factores como el clima, las acciones de otras personas y eventos inesperados están fuera de tu control directo. En lugar de preocuparte en exceso por estas circunstancias, puedes adaptarte y reaccionar sabiamente. <br>
                <br><strong>3. Opiniones de los demás: </strong><br>No puedes controlar cómo otras personas te perciben o qué piensan de ti. En lugar de buscar la aprobación constante, puedes centrarte en ser auténtico y fiel a tus valores.<br>
                <br><strong>4. Resultados de esfuerzos: </strong><br>Puedes controlar tus esfuerzos y acciones, pero no siempre puedes controlar los resultados. Por lo tanto, puedes esforzarte por hacer lo mejor posible sin aferrarte obsesivamente a los resultados finales.<br>
                <br><strong>5. Pasado y futuro:</strong><br>No puedes cambiar el pasado ni predecir con certeza el futuro. En lugar de lamentarte por el pasado o preocuparte en exceso por el futuro, puedes enfocarte en tomar decisiones sabias en el presente.<br>
                <br><strong>6. Emociones y reacciones automáticas:</strong><br>Puedes practicar el control sobre tus reacciones emocionales automáticas, eligiendo responder de manera tranquila y racional en lugar de dejarte llevar por emociones intensas.<br><br>La docotomía del control, una herramienta conceptual que ayuda a los individuos a distinguir entre lo que pueden controlar directamente y lo que no pueden. Al aplicar esta enseñanza, los estoicos buscan alcanzar una mayor paz interior y serenidad al centrar su atención y esfuerzos en lo que está en su control y aceptar con ecuanimidad lo que no está en su control.
              </p>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-accordion>
      <ion-accordion value="five">
        <ion-item slot="header" color="light">
          <ion-label>Reconciliación con el fracaso</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Reconciliación con el fracaso</ion-card-title>
              <ion-card-subtitle>Descripción:</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <p>
                La "Reconciliación con el fracaso" en el contexto del estoicismo se refiere a la aceptación y manejo sabio de los resultados negativos o desfavorables en la vida. Los estoicos creían en la importancia de enfrentar el fracaso con serenidad y sabiduría en lugar de dejarse consumir por emociones negativas o destructivas. A través de la práctica de la filosofía estoica, uno puede aprender a encontrar valor y lecciones incluso en situaciones que podrían considerarse fracasos.<br>
              </p><br>
              <p>
                <br><strong>Ejemplos de la vida cotidiana:</strong><br>
                <br><strong>1. Desafíos profesionales:</strong><br>Imagina que has trabajado duro para obtener una promoción en el trabajo, pero no la logras. En lugar de caer en la desesperación o la autocrítica, puedes aplicar la filosofía estoica y reflexionar sobre lo que has aprendido durante el proceso. Puedes considerar cómo mejorar en el futuro y reconocer que el valor de tu trabajo no se limita a un resultado específico.<br>
                <br><strong>2. Relaciones interpersonales:</strong><br>Si experimentas una ruptura en una relación cercana, en lugar de culparte a ti mismo o resentir a la otra persona, puedes aplicar la "Reconciliación con el fracaso". Puedes reflexionar sobre lo que has aprendido en esa relación, cómo has crecido como individuo y cómo puedes llevar esas lecciones a futuras interacciones.<br>
                <br><strong>3. Proyectos personales:</strong><br>Supongamos que iniciaste un proyecto creativo o emprendimiento que no tuvo el éxito esperado. En lugar de sentirte derrotado, puedes verlo como una oportunidad de crecimiento y aprendizaje. Puedes analizar qué funcionó y qué no, y usar esas lecciones para futuros esfuerzos.<br>
                <br><strong>4. Metas no alcanzadas:</strong><br>Si estableces una meta y no logras alcanzarla en el tiempo previsto, puedes aplicar la "Reconciliación con el fracaso" al recordar que los objetivos no siempre se cumplen según lo planeado. Puedes revisar tus objetivos, ajustar tus estrategias y mantener una actitud perseverante.<br>
                <br><strong>5. Aprendizaje a partir de errores:</strong><br>En lugar de sentirte avergonzado por cometer errores, puedes verlos como oportunidades para crecer y mejorar. Al abrazar los errores y las lecciones que ofrecen, puedes desarrollar resiliencia y sabiduría.<br><br><br>La "Reconciliación con el fracaso" en el estoicismo implica aceptar el fracaso como parte inevitable de la vida y aprender a extraer valor y crecimiento de esas experiencias. En lugar de dejarse abrumar por emociones negativas, los estoicos buscan enfrentar los fracasos con calma, autodisciplina y una perspectiva de aprendizaje constante.
              </p>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </div>
  <div class="contanier-buttons">
    <div class="wrapper">
      <div (click)="volver()" class="ion-activatable ripple-parent">Volver<ion-ripple-effect class="custom-ripple"></ion-ripple-effect></div>
    </div>
  </div>
</ion-content>
