<ion-content [fullscreen]="true">
  <div id="container">
    <br><br><p class="titulo-principal">EstoicApp</p><br><br><br><br>
    <div id="descripcion">
      <p id="lbl-pilar-estoicismo">
        "Como soy un animal social y racional, me centraré en lo que es importante y depende de mí, 
        no en lo que hacen los demás o si obtengo los resultados deseados."
      </p>
    </div>
  </div>
</ion-content>


<ion-tabs>
  <ion-tab-bar slot="estudiar">
    <ion-tab-button tab="estudiar">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Estudiar</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="practicar">
      <ion-icon name="game-controller-outline"></ion-icon>
      <ion-label>Practicar</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="recordatorios">
      <ion-icon name="partly-sunny-outline"></ion-icon>
      <ion-label>Diario</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>